body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(images/starwars-background.jpg);
    /* background-color: #F2FA5A; */
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    /* overflow: hidden; */
}

.col {
    cursor: pointer;
    align-items: center;
    font-size: 3rem;
}

.col:hover {
    background-color: #F68989;
    opacity: 0.5;
}

/* div.however:hover {
    background-color: transparent;
    opacity: 1;
} */

.row {
    height: 100px;
}

.board {
    padding-top: 30px;
    width: 360px;
    padding-bottom: 80px;
}

.intro {
    color: #118df8;
    z-index: 1;
    position: relative;
    top: 250px;
}

.play {
    color: #000;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s ease 0.5s;
}

.game {
    position: relative;
    top: -60px;
}

.imgO {
    content: url(images/O.png);
    height: 100px;
    width: 80px;
}

.imgO:hover {
    background-color: transparent;
    opacity: 1;
}

.imgX {
    content: url(images/X.png);
    height: 100px;
    width: 80px;
}

.imgX:hover {
    background-color: transparent;
    opacity: 1;
}

.playerX {
    color: #feda4a;
}

.playerO {
    color: #feda4a;
}
@media (max-width: 600px) {
    .board {
        width: 300px;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .row {
        height: 90px;
    }
    .intro {
        top: 275px;
    }
    /* div.however:hover {
        background-color: transparent;
        opacity: 1;
        color: #feda4a;
    } */
    .game {
        top: 10px;
    }
    .imgO {
        height: 90px;
    }
    .imgX {
        height: 90px;
    }
}
